html, body{height: 100%}

#tomogatchi {
	display: block;
	position: absolute;
	left: 50%;
	top: 55%;
	z-index: 10000;
	transform: translate(-50%, -50%);
}

#intro{
	height:10%;
}

.action-button{
	height:100%;
	width: 10%;
	position: left;
	background-color: grey;
}

.statusBar{
	position: relative;
	height:22.5%;
	width: 10%;
	background-color: black;
	display:black;
}

#hunger{
	background-color: red;
}

#sleepiness{
	background-color: purple;
}

#boredom{
	background-color: pink;
}

#age{
	background-color: grey;
}
